*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    background-color: #464646;
}

#header{
    font-size: 2rem;
    background-color: #FE3737;
    text-align: center;
    padding:2rem;
    color: #ffffff;
}

.contenedor{
    margin:0;
    font-size: 1.1rem;
}

#targetas{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

#pokemones{
    width: 160px;
    border: 1px solid black;
    text-align: center;
    background-color: #FE3737;
    color: #ffffff;
    margin: 20px 15px;
    border-radius: 20px;
    padding: 2px;
}

#imagenes{
    width: 90%;
    height: auto;
    border: 1px solid black;
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 20px;
}

#busqueda{
    border: 1px solid black;
    background-color: #1C51EA;
    width: 25%;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 5px;
    color: #ffffff;
    
}

#busqueda > *{
    margin: auto;
}

.buscador{
    width: 60%;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
}

.buscar{
    background-color: #FE3737;
    border: 1px solid black;
    padding: 3px 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    color: #ffffff;
}

.buscar:hover , .paginacion li:hover{
    color: #ffffff;
    border: 1px solid #ffffff;
}

.paginacion{
    background-color: #1C51EA;
}

.paginacion ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginacion li{
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    background-color: #FE3737;
    margin: 20px 20px;
    color: #ffffff;
}

.boton{
    cursor: pointer;
}